<ion-menu-button autoHide="false"></ion-menu-button>
<ion-header>
  <ion-toolbar>
      <ion-back-button slot="start" defaultHref="/transactions"></ion-back-button>
    <ion-title>Récapitulatif</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>
        <ion-row>
            <ion-col class="det-label"><h2> Crédit </h2></ion-col>
            <ion-col><h3> {{ recap?.credit  |currency :'EUR':'symbol':'1.2-2'}} </h3></ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="det-label"><h2> Débit </h2></ion-col>
            <ion-col><h3> {{ recap?.debit  |currency :'EUR':'symbol':'1.2-2'}} </h3></ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="det-label" ><h2> Total </h2></ion-col>
            <ion-col><h3> {{ recap?.total   |currency :'EUR':'symbol':'1.2-2'}} </h3></ion-col>
        </ion-row>


    </ion-grid>
    <div class="logo"><img style="display: inline" src="../assets/images/smile.PNG"></div>


</ion-content>
