ion-row {
  border: 2px solid #e7e7ef !important;
  border-radius: 5px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  margin-top: 7px !important;
  background-color: #f3f5f5 !important;
}

.Delete-btn {
  border: none !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  margin-top: 15px !important;
  background-color: white !important;
  text-align: center;
}

.det-label {
  color: red;
}

.logo {
  margin-top: 40px !important;
  text-align: center !important;
}