<ion-header>
    <ion-toolbar>
        <ion-back-button slot="start" defaultHref="/transactions"></ion-back-button>
        <ion-title>Détails</ion-title>
    </ion-toolbar>


</ion-header>

<ion-content>

    <ion-grid>
        <ion-row>
            <ion-col class="det-label" ><h2> Id </h2></ion-col>
            <ion-col><h3> {{ transaction.id }} </h3></ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="det-label"><h2> Amount </h2></ion-col>
            <ion-col><h3> {{ transaction.amount }} </h3></ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="det-label"><h2> Date </h2></ion-col>
            <ion-col><h3> {{ transaction.datetime }} </h3></ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="det-label"><h2> Mode </h2></ion-col>
            <ion-col><h3> {{ transaction.mode }} </h3></ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="det-label"><h2> Type </h2></ion-col>
            <ion-col><h3> {{ transaction.type }} </h3></ion-col>
        </ion-row>


        <ion-row>
            <ion-col class="det-label"><h2> Commentaire </h2></ion-col>
            <ion-col><h3> {{ transaction.commentaire }} </h3></ion-col>
        </ion-row>

        <ion-row class="Delete-btn">
            <ion-col>
                <ion-button (click)="DeleteTransaction(transaction.id)">Supprimer</ion-button>
            </ion-col>

        </ion-row>

    </ion-grid>
    <div class="logo"><img style="display: inline" src="../assets/images/smile.PNG"></div>


</ion-content>
