<ion-menu-button autoHide="false"></ion-menu-button>
<ion-header>
    <ion-toolbar>
        <ion-title>Mes Transactions</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-grid>
        <ion-row style="color: red">
            <ion-col (click)="orderBy('id')">Id</ion-col>
            <ion-col (click)="orderBy('datetime')">Date</ion-col>
            <ion-col (click)="orderBy('amount')">Amount</ion-col>
            <ion-col (click)="orderBy('type')">Type</ion-col>
            <ion-col (click)="orderBy('mode')">Mode</ion-col>
        </ion-row>
        <ion-row [routerLink]="['/transaction-details']" [queryParams]="{ id: transaction.id }"
                 *ngFor="let transaction of transactionListArray   | paginate:{itemsPerPage: 5, currentPage:p}">
            <ng-container>
                <ion-col>{{transaction.id}}</ion-col>
                <ion-col> {{transaction.datetime}}</ion-col>
                <ion-col>{{transaction.amount}}</ion-col>
                <ion-col>{{transaction.type}}</ion-col>
                <ion-col>{{transaction.mode}}</ion-col>
            </ng-container>

        </ion-row>
    </ion-grid>

    <pagination-controls (pageChange)="p=$event"></pagination-controls>

    <div class="logo"><img style="display: inline" src="../assets/images/smile.PNG"></div>


</ion-content>

