ion-row {
  border: 2px solid #e7e7ef !important;
  border-radius: 5px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  margin-top: 7px !important;
}


.logo {
  margin-top: 40px !important;
  text-align: center !important;
}